<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <div>
            <label class="name">Email:</label>
            <div class="col-sm-4">
                <input type="email" name="email" class="text-box" value="{{ employee.email }}" />
            </div>
        </div>

        <div>
            <label class="name">Password:</label>
            <div class="col-sm-4">
                <input type="password" name="password" class="text-box" value="New Password"/>
            </div>
        </div>

        <div>
            <label class="name">Con. Password:</label>
            <div class="col-sm-4">
                <input type="password" name="password" class="text-box" value="Con Password"/>
            </div>
        </div>
    </form>
</body>
</html>